.btn,
a.btn,
button.btn {
  display: inline-block;
  min-width: 126px;
  padding: 14px 20px;
  text-align: center;
  border: 2px solid #83ba3a;
  border-radius: 27px;
  font-size: 14px;
  color: rgb(68, 70, 85);
  text-transform: uppercase;
  line-height: normal;
  @include HKGrotesk-bold();
  transition: color .3s ease-in-out, background .3s ease-in-out;

  &:hover,
  &.active {
    color: #fff;
    background-color: #83ba3a;
  }

  &:active {
    background-color: #679130;
  }
}