.contact {
  margin-bottom: 21px;
  text-align: center;
  font-size: 14px;
  color: rgb(62, 66, 85);

  &__person {
    margin-bottom: 15px;
    font-size: 18px;
    color: rgb(62, 66, 85);
    line-height: 1.083;

    span {
      display: block;
      padding-top: 5px;
      color: #9d9fa6;
      font-size: 19px;
    }
  }

  &__address {
    line-height: 1.083;
    font-style: normal;

    span {
      display: block;
      margin-bottom: 6px;
    }
  }

  &__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    margin-bottom: 15px;

    .btn {
      margin: 10px;
      text-transform: none;
      @include HKGrotesk();
    }
  }

  &__map {
    height: 50vw;
    min-height: 300px;
  }
}
@media (min-width: $phone-landscape) {
  .contact {

  }
}
@media (min-width: $tablet-portrait) {
  .contact {

  }
}
@media (min-width: $tablet-landscape) {
  .contact {
    font-size: 19px;

    &__person {
      margin-bottom: 32px;
      font-size: 23px;

      span { font-size: 19px }
    }

    &__btns {
      flex-direction: row;
      padding: 21px 0;
      margin-bottom: 33px;

      .btn { font-size: 20px }
    }
  }
}
@media (min-width: $desktop) {
  .contact {

    &__map {
      height: 550px;
    }
  }
}

