.events-preview {
  padding: 15px;

  &__title {
    display: block;
    font-size: 20px;
    color: rgb(68, 70, 85);
    line-height: 1.611;
    @include HKGrotesk-bold();
  }

  &__sub-title {
    margin-bottom: 15px;
    font-size: 12px;
    color: rgb(68, 70, 85);
    text-transform: uppercase;
    line-height: 3.625;
    @include HKGrotesk-bold();

    span {
      display: flex;
      align-items: center;

      &:before {
        display: block;
        width: 30px;
        height: 3px;
        margin-right: 30px;
        background-color: #ff802c;
        content: '';
      }
    }
  }


  &__picture {
    display: block;
    width: 100%;
    height: calc((100vw - 30px)*.85);
    background-color: rgb(221, 221, 221);
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.08);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__date {
    position: absolute;
    top: 30px;
    right: -20px;
    font-size: 12px;
    color: rgb(68, 70, 85);
    text-transform: uppercase;
    line-height: 4;
    @include HKGrotesk-bold();

    span:first-child {
      position: relative;
      z-index: 2;
    }

    &-year {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      font-size: 30px;
      color: rgb(221, 221, 221);
      text-transform: uppercase;
      line-height: 1.2;
      transform: matrix( 0,-0.99947780602275,0.99991281452161,0,0,0);
      @include HKGrotesk-light();
    }
  }

  &__content {
    position: relative;
    width: 100%;
    padding: 30px 30px 0 0;

    h2 {
      margin-bottom: 30px;
      font-size: 12px;
      color: rgb(68, 70, 85);
      text-transform: uppercase;
      line-height: 2.286;
      @include HKGrotesk-bold();
    }

    h3 {
      margin-bottom: 15px;
      font-size: 18px;
      color: rgb(68, 70, 85);
      line-height: 1.25;
      @include HKGrotesk-bold();
    }

    p {
      margin-bottom: 45px;
      font-size: 14px;
      color: rgb(68, 70, 85);
      line-height: 1.444;
    }
  }

  &__more {
    position: relative;
    padding-left: 30px;
    font-size: 12px;
    color: rgb(68, 70, 85);
    text-transform: uppercase;
    line-height: 3.625;
    @include HKGrotesk-bold();
    transition: color .3s ease-in-out;

    &:visited {
      color: rgb(68, 70, 85);
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
      height: 3px;
      margin-top: -1.5px;
      background-color: #ff802c;
      content: '';
      transition: width .3s ease-in-out .2s, left .3s ease-in-out .2s;
    }

    &:hover {
      color: #ff802c;
      transition-delay: .3s;

      &:before {
        width: 0;
        left: 30px;
        transition-delay: 0s;
      }

      &:after {
        clip: rect(3px, 9px, 12px, 0px);
        transition-delay: .25s;
      }
    }
  }
}
@media (min-width: $phone-landscape) {
  .events-preview {

  }
}
@media (min-width: $tablet-portrait) {
  .events-preview {

    &__sub-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
@media (min-width: $tablet-landscape) {
  .events-preview {
    padding: 60px 0;

    &__title {
      font-size: 36px;
    }

    &__sub-title {
      font-size: 16px;

      span {
        display: flex;
        align-items: center;

        &:before {
          display: block;
          width: 50px;
          height: 3px;
          margin-right: 50px;
          background-color: #ff802c;
          content: '';
        }

        .btn {
          padding: 16px 28px;
          margin-left: 19px;
        }
      }
    }

    &__layout {
      display: flex;
      align-items: center;
    }

    &__picture {
      width: 576px;
      height: 490px;
    }

    &__date {
      top: 50px;
      right: 10px;
      font-size: 18px;

      &-year {
        font-size: 60px;
      }
    }

    &__content {
      width: calc(100% - 576px);
      padding: 48px 80px 48px 48px;

      h2 {
        font-size: 14px;
      }

      h3 {
        font-size: 24px;
      }

      p {
        font-size: 18px;
      }
    }

    &__more {
      padding-left: 56px;
      font-size: 16px;

      &:before {
        width: 38px;
      }

      &:after {
        position: absolute;
        top: 50%;
        left: 38px;
        width: 12px;
        height: 12px;
        margin-top: -6px;
        border: 2px solid #ff802c;
        clip: rect(12px, 3px, 12px, 0px);
        transform: rotate(45deg);
        box-sizing: border-box;
        content: '';
        transition: clip .2s ease-in-out;
      }

      &:hover {

        &:before {
          left: 38px;
        }

        &:after {
          clip: rect(3px, 9px, 12px, 0px);
          transition-delay: .25s;
        }
      }
    }
  }
}
@media (min-width: $desktop) {
  .events-preview {
    max-width: 1200px;
    margin: 0 auto;
    padding: 133px 0 101px;

    &__title {
      max-width: 1200px;
      margin: 0 auto;
      line-height: normal;
    }

    &__sub-title {
      height: 40px;
      max-width: 1200px;
      margin: 0 auto;
      line-height: normal;
      letter-spacing: 1.5px;
    }

    &__layout {
      padding: 65px 0 0;
    }

    &__content {
      padding: 52px 200px 44px 48px;

      h2 {
        margin-bottom: 42px;
        letter-spacing: 1.2px;
      }

      h3 {
        margin-bottom: 17px;
      }

      p {
        margin-bottom: 80px;
      }
    }

    &__more {
      letter-spacing: 1.6px;
    }

    &__date {
      top: 103px;
      right: 22px;
      letter-spacing: 1.5px;

      &-year {
        font-size: 60px;
        letter-spacing: 24px;
        transform: matrix(0, -1, 1, 0, -92, -71);
      }
    }
  }
}

