.hero {
  display: flex;
  align-items: flex-end;
  position: relative;
  min-height: calc(100vh - 75px);
  padding: 50px 15px;
  background-color: #f8f7f7;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-position: center;

  &__scroll {
    @include absoluteCenterX();
    bottom: 20px;
    width: 26px;

    svg {
      width: 100%;
      fill: #f19600;
    }
  }

  &__content {
    max-width: 500px;
    font-size: 20px;
    color: rgb(68, 70, 85);
    line-height: 1.238;
    @include HKGrotesk-light();

    b {
      @include HKGrotesk-bold();
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px 0 0;

    &:before {
      display: block;
      width: 80px;
      height: 2px;
      background-color: #f19600;
      content: '';
    }

    a,
    a:visited {
      display: block;
      font-size: 11px;
      color: rgb(68, 70, 85);
      text-transform: uppercase;
      line-height: 3.625;
      @include HKGrotesk-bold();
      transition: color .3s ease-in-out;

      &:hover {
        color: #83b93a;
      }
    }
  }
}
@media (min-width: $phone-landscape) {
  .hero {

  }
}
@media (min-width: $tablet-portrait) {
  .hero {
    min-height: calc(100vh - 197px);
    padding: 50px 15px;

    &__content {
      max-width: 860px;
      font-size: 42px;
    }

    &__links {
      flex-direction: row;
      align-items: center;
      padding: 26px 0 0;

      &:before {
        width: 160px;
        height: 3px;
        margin-right: 5px;
      }

      a,
      a:visited {
        margin-left: 54px;
        font-size: 16px;
        letter-spacing: 1.6px;
      }
    }
  }
}
@media (min-width: $tablet-landscape) {
  .hero {

  }
}
@media (min-width: $desktop) {
  .hero {

  }
}

@media (min-width: $desktop-hd) {
  .hero {
    padding: 50px calc(50% - 600px) 196px;

    &__scroll {
      bottom: 54px;
      width: 32px;
    }
  }
}

