.infrastructure {
  padding: 30px 0;

  &__layout {
    padding: 15px;
    background-color: #fff;
  }

  &__head {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 24px;
    color: rgb(68, 70, 85);
    line-height: 1.417;
    text-align: center;

    &-icon {
      text-align: center;

      svg {
        height: 100px;
        fill: #83ba3a;
      }
    }
  }
}
@media (min-width: $phone-landscape) {
  .infrastructure {

  }
}
@media (min-width: $tablet-portrait) {
  .infrastructure {

  }
}
@media (min-width: $tablet-landscape) {
  .infrastructure {

  }
}
@media (min-width: $desktop) {
  .infrastructure {
    padding: 98px 0 71px;

  }
}

