//fonts
@mixin HKGrotesk() {
  font-family: "HKGrotesk-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin HKGrotesk-bold() {
  font-family: "HKGrotesk-Bold", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin HKGrotesk-light() {
  font-family: "HKGrotesk-Light", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin HKGrotesk-light-italic() {
  font-family: "HKGrotesk-Light-Italic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin justify() {
  text-align: justify;

  &:after {
    display: inline-block;
    width: 100%;
    content: '';
  }
}

@mixin absoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}
@mixin absoluteCenterX() {
  position: absolute;
  left: 50%;
  transform: translateX( -50% );
}
@mixin absoluteCenterY() {
  position: absolute;
  top: 50%;
  transform: translateY( -50% );
}