.programms-preview {
  position: relative;
  padding-top: 20px;

  &__head {
    padding: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    color: rgb(68, 70, 85);
    line-height: 1.611;
    background-color: #fff;
    @include HKGrotesk-light();

    b {
      @include HKGrotesk-bold();
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgb(68, 70, 85);
    text-transform: uppercase;
    line-height: 3.625;
    @include HKGrotesk-bold();

    &:after {
      display: block;
      width: 30px;
      height: 3px;
      margin-left: 30px;
      background-color: #ff802c;
      content: '';
    }
  }

  &__item {
    display: block;
    padding: 15px;
    margin-bottom: 15px;
    color: rgb(68, 70, 85);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.06);

    &.type1 {

      .programms-preview__icon {

        svg {
          fill: #83ba3a;
        }
      }
      .programms-preview__button {

        &:before { background-color: #83ba3a }
      }
    }
    &.type2 {

      .programms-preview__icon {

        svg {
          fill: #c65cff;
        }
      }
      .programms-preview__button {

        &:before { background-color: #c65cff }
      }
    }
    &.type3 {

      .programms-preview__icon {

        svg {
          fill: #ff802c;
        }
      }
      .programms-preview__button {

        &:before { background-color: #ff802c }
      }
    }
  }

  &__icon {
    margin-bottom: 15px;

    svg {
      height: 70px;
      transition: fill .3s ease-in-out;
    }
  }

  &__info {
    font-size: 18px;
    line-height: 1.154;
    @include HKGrotesk-light();

    span { display: block }

    b { @include HKGrotesk-bold() }
  }

  &__button {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 15px;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 2;
    @include HKGrotesk-bold();

    &:before {
      display: block;
      position: relative;
      width: 24px;
      height: 2px;
      z-index: 2;
      margin: 0 6px 0 -30px;
      content: '';
    }
  }
}
@media (min-width: $phone-landscape) {
  .programms-preview {

    &__head {
      margin-bottom: 30px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      width: calc(50% - 15px);
      margin-bottom: 30px;
    }
  }
}
@media (min-width: $tablet-portrait) {
  .programms-preview {

  }
}
@media (min-width: $tablet-landscape) {
  .programms-preview {

  }
}
@media (min-width: $desktop) {
  .programms-preview {
    padding-top: 137px;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 368px;
      z-index: 1;
      background-color: #fff;
      content: '';
    }

    &__head {
      position: relative;
      max-width: 1200px;
      margin: 0 auto 62px;
      padding: 0;
      z-index: 2;
      font-size: 36px;
      background-color: transparent;
    }

    &__title {
      margin-bottom: 6px;
      font-size: 16px;
      letter-spacing: 1.5px;
      line-height: normal;

      &:after {
        width: 50px;
        margin-left: 47px;
      }
    }

    &__list {
      position: relative;
      max-width: 1200px;
      margin: 0 auto;
      z-index: 2;
    }

    &__item {
      width: calc(50% - 25px);
      margin-bottom: 48px;
      padding: 71px 40px 48px 55px;
      transition: background .3s ease-in-out, color .3s ease-in-out;

      &:hover {
        background-color: rgb(131, 186, 58);
        color: #fff;

        .programms-preview__icon {

          svg {
            fill: #fff;
          }
        }

        .programms-preview__button {

          &:before {
            width: 22px;
            margin-left: 0;
            background-color: #fff;
          }

          &:after {
            margin-left: 0;
            clip: rect(0px, 12px, 9px, 3px);
            transition-delay: .3s;
          }
        }
      }
    }

    &__icon {
      margin-bottom: 31px;

      svg {
        height: 100px;
        transition: fill .3s ease-in-out;
      }
    }

    &__info {
      padding: 0 4px;
      font-size: 26px;
    }

    &__button {
      margin-top: 9px;
      font-size: 12px;
      line-height: 4.833;
      letter-spacing: 1.2px;

      &:before {
        width: 72px;
        margin: 0 12px 0 -84px;
        transition: background .3s ease-in-out .2s, margin .3s ease-in-out .2s, width .3s ease-in-out .2s;
      }

      &:after {
        position: absolute;
        left: 10px;
        top: 50%;
        width: 8px;
        height: 8px;
        z-index: 1;
        margin: -6px 0 0 0;
        border: 2px solid #fff;
        clip: rect(0px, 12px, 2px, 10px);
        transform: rotate(45deg);
        content: '';
        transition: clip .3s ease-in-out;
      }
    }
  }
}

