.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 1;

  &__item {
    position: relative;
    width: 208px;
    margin: 0 15px 30px;
    z-index: 2;
    font-size: 13px;
    color: rgba(62, 66, 85, 0.6);

    &:hover {

      .team__social { opacity: 1 }
    }
  }

  &__picture {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 23px;
    border-radius: 4px;

    img {
      display: block;
      width: 100%;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 4px;
    background-color: rgba(251,150,0,.8);
    transition: opacity .3s ease-in-out;

    svg {
      width: 48px;
      fill: #fff;
    }
  }

  &__name {
    display: block;
    margin-bottom: 4px;
    font-size: 18px;
    color: rgb(68, 70, 85);
    text-transform: uppercase;
    @include HKGrotesk-light();

    span {
      @include HKGrotesk-bold();
    }
  }

  &__position {
    display: block;
    text-transform: uppercase;
    line-height: 1.538;
    @include HKGrotesk-bold();
  }
}
@media (min-width: $phone-landscape) {
  .team {

  }
}
@media (min-width: $tablet-portrait) {
  .team {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: $tablet-landscape) {
  .team {

  }
}
@media (min-width: $desktop) {
  .team {
    justify-content: space-between;
    max-width: 100%;
    padding: 0 calc(50% - 600px) 134px;

    &:before {
      position: absolute;
      top: 0;
      left: -55px;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: url("../img/team-wave-left.png") no-repeat left 79px;
      pointer-events: none;
      content: '';
    }

    &:after {
      position: absolute;
      top: 0;
      right: -55px;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: url("../img/team-wave-right.png") no-repeat right 79px;
      pointer-events: none;
      content: '';
    }

    &__item { margin: 0 }
  }
}

