.wireframes {
  display: flex;
  align-items: center;

  a,
  a:visited {
    display: block;
    font-size: 13px;
    color: rgb(68, 70, 85);
    line-height: 2.154;
    @include HKGrotesk-bold();
  }
}
@media (min-width: $phone-landscape) {
  .wireframes {

  }
}
@media (min-width: $tablet-portrait) {
  .wireframes {

  }
}
@media (min-width: $tablet-landscape) {
  .wireframes {

  }
}
@media (min-width: $desktop) {
  .wireframes {

  }
}

