@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/HKGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HKGrotesk-Bold";
  src: url("../fonts/HKGrotesk-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HKGrotesk-Light";
  src: url("../fonts/HKGrotesk-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
